.ipynb_checkpoints/
.vscode/
__pycache__/

# Dataset directories and saved model locations
datasets/archive/
datasets/road_sign_detection/
checkpoints/

# pretrained weight files
*.weights
*.weights.npz

# Saved Models
*.pt